.draggable-window {
  resize: both;
  overflow: auto;
  min-width: 300px;
  min-height: 100px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  background-color: #000000f1;
  cursor: move;
  z-index: 99999;
  border-radius: 12px;
  transition: height 0.3s ease, max-height 0.3s ease;
   pointer-events: auto;
}

.draggable-window.collapsed {
  height: 60px !important;
  max-height: 60px !important;
  overflow: hidden;
}


.draggable-window.collapsed .results-content {
  display: none;
}



.results-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11001;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  padding: 0.5rem 1rem;
  background-color: #4C3D3D !important;
  color: #FFD95A;
  border-radius: 8px 8px 0 0;
  gap: 0.5rem;
  touch-action: none; /* ✅ מאפשר גרירה בטאץ' */
  pointer-events: auto; /* ✅ חובה לאפשר לחיצה בכפתורים */
}


.modal-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.close-results-button,
.minimize-button {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #FFD95A;
  cursor: pointer;
  position: relative;
  padding: 4px 8px;
  margin-right: 4px;
    pointer-events: auto;
  z-index: 999999;
}


.results-content {
  direction: rtl;
  padding-right: 30px;
  font-family: 'Rubik', sans-serif;
  color: antiquewhite;
  max-height: 50vh;
  overflow-y: auto;
}

.menu-item span {
  background-color: #000000;
}

.results-content h3 {
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.menu-total-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(33, 253, 81);
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
}

.category-count {
  margin-top: 1.5px;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  color: #fff;
}

.category-counts-row {
  background-color: #4C3D3D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  font-family: 'Rubik', sans-serif;
}

.delete-item-button {
  background: none;
  border: none;
  color: #d11a2a;
  font-size: 14px;
  margin-right: 6px;
  cursor: pointer;
}
.delete-item-button:hover {
  color: #a00;
}

/* מובייל */
@media (max-width: 600px) {
  .modal-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .close-results-button,
  .minimize-button {
    font-size: 2rem;
  }

  .results-modal {
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .draggable-window {
    width: 95vw;
    max-height: 85vh;
    top: 5%;
    left: 2.5%;
    transform: none;
    border-radius: 12px;
  }

  .header-center {
    flex: 1;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
}
