
  /* הלוגו נעלם בגלילה */
  .navbar-logo.hidden img {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1.5s ease-in-out, transform 0.3s ease-in-out;
  } 
  
  /* המספר נעלם בגלילה */
  .numPhone.hidden {
    opacity: 0;
    transition: opacity 1.5s ease-in-out, transform 0.3s ease-in-out;
  }

  .brand-title.hidden {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1.5s ease-in-out, transform 0.3s ease-in-out;
  }

  @media (max-width: 390px) {
    .navbar-logo.hidden img {
      opacity: 2;  
      height: 70px;
      left: -12px;
    } 
    
    
  }

