.navbar {
    background-color: #4C3D3D;
    
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;/* הקטנת הריווח הפנימי */
    height: 80px; /* הגדרת גובה כולל */
    position: fixed; /* שומר על ה- NavBar בראש המסך */
    width: 100%; /* גורם לו לכסות את כל הרוחב */
    top: 0; /* מוודא שהוא תמיד מוצמד לחלק העליון */
    z-index: 90; /* מבטיח שהוא יהיה מעל כל האלמנטים האחרים */
    transition: all 0.3s ease-in-out;
  }
  .navbar.shrink {
    height: 60px;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    margin: 1rem;
  }
  
  .logo {
    height: 200px;
    position: relative;
    top: 65px;
    right: 20px;
    transition: 
      height 0.3s ease,
      top 0.3s ease,
      right 0.3s ease,
      transform 0.3s ease;
    animation: spin 12s linear infinite;
  }



  .revome-title {
display: none;
}


  .navbar-right {
    position: relative;
    display: flex;
    flex-direction: column; /* מסדר את האלמנטים אחד מתחת לשני */
    align-items: center; /* ממרכז את הכפתור והמספר טלפון */
   left: -10px;
    margin-top: -15px;
}

  .whatsapp-button {
    background-color: #1d9348;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: 3rem;
    
  }
  
  .whatsapp-button:hover {
    background-color: #104523;
  }
  
  .whatsapp-icon {
    margin-right: 0.5rem;
  }

  .contact{
    position: relative;
    top: 20px;
    right: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #FFD95A; /* צבע כהה לטקסט */
  }
  .contact.scrolling {
    top: 63px;
    right: 85px;
  }
  .numPhone {
    font-size: 20px;
    color: #FFD95A; /* צבע כהה לטקסט */
    font-weight: bold;
    margin-top: 15px; 
    position: relative;
    right: 40px;
  }




.budgetChat{
position: fixed;
}



  
  /* רספונסיביות */
  @media (max-width: 450px) {
    .navbar{
      height: 40px; /* במקום 45px */
    }

    .navbar.shrink {
      height: 30px;
      padding: 10px 20px;
    }
    .logo {
      height: 75px;
      top: 0;
      right: 35px;
    }


    .brand-title {
      font-size: 2rem;
      margin: 10px; /* מסיר רווחים אנכיים מיותרים */
    }

    .navbar-center {
    
      position: relative;
      right: 40px;
      top: 7px;
      gap: 6px; /* מוסיף רווח קטן ומדויק בין הילדים */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
     
    }

  .numPhone {
  display: none;
  }

  .navbar-right {
    margin-top: -25px;
    gap: 12px;
    
}

.shrink-title {
 display: none;
}
.user-icon {
/* top: 30px;
  right: 90px; */
   margin-left: -105px;
   margin-top: 70px;
}

.welcome-message{
 position: relative;
 top: 110px;
 right: 75px;
}
  }

  @media (max-width: 390px) {
    .navbar{
      height: 50px; /* במקום 45px */
    }

    .navbar.shrink {
      height: 30px;
      padding: 10px 20px;
    }
    .logo {
      height: 75px;
      right: 35px;
    }


    .brand-title {
      font-size: 2rem;

    }

  .navbar-center {
    position: relative;
    right: 50px;
    top: 7px;
    gap: 6px; /* מוסיף רווח קטן ומדויק בין הילדים */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
   
  }

  .navbar-right {
    margin-top: -25px;
    gap: 12px;
    margin-left: -70px;
}

.contact{
  top: 25px;
font-size: 11px;
left: -28px;
}

.contact.scrolling {
  font-size: 8px;
  top: 40px;
  left: -20px;
}

.shrink-title {
 display: none;
}

.user-icon {
top: 30px;
  right: 60px;
}

  }


      @keyframes spin {
      10% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }





  