.login-button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: 6px rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.4s ease;
 
}

/* החלפת צבע בעת מעבר העכבר על הכפתור  */
.login-button:hover {
  background-color: #0059ffe8;   /* תכלת זוהר */
  color: #ffffff;              /* שחור */
  border-color: #0059ffe8;
  transform: scale(1.06);      /* גדילה קלה */
}

.login-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* שקיפות */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.login-modal {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 360px;
  position: relative;
  box-shadow: 0 0 10px #00000088;
  text-align: right;
  font-family: 'Rubik', sans-serif;
}

.close-button {
  position: absolute;
  top: 8px;
  left: 8px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #4C3D3D;
  cursor: pointer;
}

.login-title {
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #4C3D3D;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.link-button {
  background: none;
  border: none;
  color: #4C3D3D;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}


/* מובייל */
@media (max-width: 600px) {
  .login-button {
    position: relative;
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
  border: 4px rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 0.8rem;
  right: 100px;
  top: -20px;

}

    }


